<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Chat do Grupo</h3>
        <div class="chat_window">
            <ul class="messages">
                <li class="message left appeared">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text">Hello Philip! :)</div>
                    </div>
                </li>
                <li class="message right appeared">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text">Hi Sandy! How are you?</div>
                    </div>
                </li>
                <li class="message left appeared">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text">I'm fine, thank you!</div>
                    </div>
                </li>
            </ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <input class="message_input" placeholder="Digite uma mensagem..." />
                </div>
                <div class="send_message">
                    <div class="icon"></div>
                    <div class="text"><i class="fa fa-paper-plane"></i></div>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">

                    </div>
                </div>
            </li>
        </div>
        <!-- <div class="text-center">
            <p>Você não faz parte de nenhum grupo nesse momento</p>
        </div> -->
    </div>
</div>