<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Grupo</h3>
        <div class="buttons">
            <button class="btn btn-secondary btn-sm" routerLink="/grupo">Voltar</button>
            <button class="btn btn-primary btn-sm">Salvar</button>
        </div>
        <div class="container-form">
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.nome" class="form-control">
                <label>Nome</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.descricao" class="form-control">
                <label>Descrição do Trajeto</label>
            </fieldset>
        </div>
        <div class="text-center">
            <h4 class="cabecalho-turistas">Turistas</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>    
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Turista 1</td>
                    <td>turista1@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
                <tr>
                    <td>Turista 2</td>
                    <td>turista2@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
                <tr>
                    <td>Turista 3</td>
                    <td>turista3@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
            </tbody>
        </table>
        <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table> -->
        <!-- <button class="btn btn-primary btn-novo-grupo" routerLink="/edit-grupo/novo">Novo
        </button> -->
    </div>
</div>