<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Grupo</h3>
        <div class="buttons">
            <button class="btn btn-secondary btn-sm" routerLink="/grupo">Voltar</button>
            <button class="btn btn-primary btn-sm" (click)="salvarGrupo(grupo)">Salvar</button>
        </div>
        <div class="container-form">
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.nome" class="form-control nome-input">
                <label>Nome</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.descricao" class="form-control descricao-input">
                <label>Descrição do Trajeto</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="date" [(ngModel)]="grupo.dataInicioTrajeto" class="form-control data-input">
                <label>Data de Inicio</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="date" [(ngModel)]="grupo.dataFimTrajeto" class="form-control data-input">
                <label>Data de Término</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.horarioInicio" class="form-control horario-inicio-input">
                <label>Horário de Inicio</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)]="grupo.horarioFim" class="form-control horario-fim-input">
                <label>Horário de Término</label>
            </fieldset>
        </div>
        <div class="text-center">
            <h4 class="cabecalho-turistas">Turistas</h4>

            <button class="btn btn-danger btn-sm btn-adicionar-turista" *ngIf="adicaoTuristaAtiva && exibeBotaoEncerrar" (click)="escondeAdicaoTurista()">Cancelar</button>
            <button class="btn btn-primary btn-sm btn-adicionar-turista" *ngIf="!adicaoTuristaAtiva && exibeBotaoEncerrar" (click)="exibeAdicaoTurista()">Novo</button>
        </div>

        <div class="row" *ngIf="adicaoTuristaAtiva">
            <div class="col-8">
                <div class="container-form">
                    <fieldset class="form-group">
                        <input type="text" [(ngModel)]="emailTurista" class="form-control email-turista-input">
                        <label>E-mail</label>
                    </fieldset>
                </div>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary btn-convidar-turista" (click)="adicionarTurista(emailTurista)">Convidar</button>
            </div>
        </div>
        


        <table class="table">
            <thead>
                <tr>
                    <th *ngIf="exibeBotaoEncerrar"></th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of grupo.turistas">
                    <td *ngIf="exibeBotaoEncerrar">
                        <button class="btn btn-danger btn-sm btn-remove" (click)="removerTurista(t)"><i class="fas fa-trash"></i></button>
                    </td>
                    <td>{{t.nome}}</td>
                    <td>{{t.email}}</td>
                    <td>{{t.telefone}}</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-danger btn-sm btn-block btn-encerrar" *ngIf="exibeBotaoEncerrar" (click)="encerraGrupo(grupo)">Encerrar</button>
    </div>
</div>