<div class="container-main">
    <h3 class="cabecalho">Rotas</h3>
    <div class="content">
        <ul class="lista-rotas">
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span style="text-align: center;">Beco do Batman</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-catedral.jpg" alt="">
                <span  style="text-align: center;">Catedral da Sé</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-masp.jpg" alt="">
                <span  style="text-align: center;">Museu de Arte de São Paulo (MASP)</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-ibira.jpg" alt="">
                <span  style="text-align: center;">Parque Ibirapuera</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-pinacoteca.jpg" alt="">
                <span  style="text-align: center;">Pinacoteca de São Paulo</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
            <li class="item">
                <img src="./../../../../assets/img/ponto-beco.jpg" alt="">
                <span  style="text-align: center;">Mercado Municipal</span>
            </li>
         </ul>
    </div>
</div>