<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Grupos</h3> 
        <button class="btn btn-primary btn-novo-grupo" routerLink="/edit-grupo/novo">Novo
            <!-- <i class="fa fa-plus"></i> -->
        </button>
        <ul class="list-group">
            <li class="d-flex flex-wrap list-group-item">
                <div class="d-flex flex-column w-100">
                    <label for="">Nome</label>
                    <input type="text" readonly value="Ibirirapuera">
                </div>
                <div class="d-flex flex-column w-33" style="margin-right: auto;">
                    <label for="">Data</label>
                    <input type="date" readonly value="2020-12-25">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Início</label>
                    <input type="time" readonly value="13:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Fim</label>
                    <input type="time" readonly value="16:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin: 12px auto 0 auto;">
                    <input type="button" value="Visualizar" routerLink="/edit-grupo/1">
                </div>
            </li>
            <li class="d-flex flex-wrap list-group-item">
                <div class="d-flex flex-column w-100">
                    <label for="">Nome</label>
                    <input type="text" readonly value="Ibirirapuera">
                </div>
                <div class="d-flex flex-column w-33" style="margin-right: auto;">
                    <label for="">Data</label>
                    <input type="date" readonly value="2020-12-25">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Início</label>
                    <input type="time" readonly value="13:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Fim</label>
                    <input type="time" readonly value="16:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin: 12px auto 0 auto;">
                    <input type="button" value="Visualizar" routerLink="/edit-grupo/2">
                </div>
            </li>
            <li class="d-flex flex-wrap list-group-item">
                <div class="d-flex flex-column w-100">
                    <label for="">Nome</label>
                    <input type="text" readonly value="Ibirirapuera">
                </div>
                <div class="d-flex flex-column w-33" style="margin-right: auto;">
                    <label for="">Data</label>
                    <input type="date" readonly value="2020-12-25">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Início</label>
                    <input type="time" readonly value="13:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Fim</label>
                    <input type="time" readonly value="16:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin: 12px auto 0 auto;">
                    <input type="button" value="Visualizar" routerLink="/edit-grupo/3">
                </div>
            </li>
            <li class="d-flex flex-wrap list-group-item">
                <div class="d-flex flex-column w-100">
                    <label for="">Nome</label>
                    <input type="text" readonly value="Ibirirapuera">
                </div>
                <div class="d-flex flex-column w-33" style="margin-right: auto;">
                    <label for="">Data</label>
                    <input type="date" readonly value="2020-12-25">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Início</label>
                    <input type="time" readonly value="13:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Fim</label>
                    <input type="time" readonly value="16:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin: 12px auto 0 auto;">
                    <input type="button" value="Visualizar" routerLink="/edit-grupo/4">
                </div>
            </li>
            <li class="d-flex flex-wrap list-group-item">
                <div class="d-flex flex-column w-100">
                    <label for="">Nome</label>
                    <input type="text" readonly value="Ibirirapuera">
                </div>
                <div class="d-flex flex-column w-33" style="margin-right: auto;">
                    <label for="">Data</label>
                    <input type="date" readonly value="2020-12-25">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Início</label>
                    <input type="time" readonly value="13:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin-right: auto;">
                    <label for="">Horário Fim</label>
                    <input type="time" readonly value="16:30">
                </div>
                <div class="d-flex flex-column w-25" style="margin: 12px auto 0 auto;">
                    <input type="button" value="Visualizar" routerLink="/edit-grupo/5">
                </div>
            </li>
        </ul>
    </div>
</div>