<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Grupos</h3> 
        <button class="btn btn-primary btn-novo-grupo" routerLink="/edit-grupo/novo">Novo</button>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of grupos" class="alert" [ngClass]="{'alert-success': g.encerrado}">
                    <td>
                        <button class="btn btn-primary btn-sm btn-edit" routerLink="/edit-grupo/{{g.id}}"><i class="fas fa-edit"></i></button>
                    </td>
                    <td>{{g.nome}}</td>
                    <td>{{g.dataTrajeto}}</td>
                    <td>{{g.horarioInicio}}</td>
                    <td>{{g.horarioFim}}</td>
                </tr>
                <!-- <tr class="alert alert-success">
                    <td>
                        <button class="btn btn-primary btn-sm btn-edit" routerLink="/edit-grupo/5"><i class="fas fa-edit"></i></button>
                    </td>
                    <td>Paulista</td>
                    <td>23/12/2000</td>
                    <td>13:30</td>
                    <td>14:30</td>
                </tr>
                <tr class="alert alert-success">
                    <td>
                        <button class="btn btn-primary btn-sm btn-edit" routerLink="/edit-grupo/5"><i class="fas fa-edit"></i></button>
                    </td>
                    <td>Mercado municipal</td>
                    <td>23/12/2000</td>
                    <td>13:30</td>
                    <td>14:30</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>