img{
    height: -webkit-fill-available;
}

#carouselHome{
    height: -webkit-fill-available;
}

.ml-button{
    margin-left: 10px;
}

.mr-button{
    margin-right: 10px;
}

.num-msg-nao-lidas{
    font-size: medium;
    border-radius: 100%;
    position: absolute;
    top: 86px;
    right: 70px;
}