<div id=wrapper>
    <input type=checkbox>
    <div id=menu>
        <ul>
            <li><a href="http://www.yahoo.com" target="_blank" rel="nofollow">Rotas</a></li>
            <li><a href="http://www.google.com" target="_blank" rel="nofollow">Guias</a></li>
            <!-- <li><a href="http://www.facebook.com" target="_blank" rel="nofollow">Facebook</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a class="active" href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
            <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li> -->
        
        </ul>
    </div>
    <div class="container-config">
        <!-- <a class="btn btn-secondary">Configurações <i class="fa fa-cogs"></i></a> -->
        <a class="btn btn-secondary btn-chat"><i class="fa fa-comments"></i> <span class="badge badge-danger num-msg-nao-lidas">5</span></a>
    </div>
    <div id="page">        
        <router-outlet></router-outlet>
    </div>
</div>