<div class="container-main">
    <div class="content">
        <h3 class="cabecalho">Grupo</h3>
        <button class="btn btn-danger btn-block btn-sair-grupo">Sair do grupo</button>
        <div class="container-form">
            <fieldset class="form-group">
                <input type="text" disabled [(ngModel)]="grupo.guia" class="form-control guia-input">
                <label>Guia Responsável</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" disabled [(ngModel)]="grupo.nome" class="form-control nome-input">
                <label>Nome</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" disabled [(ngModel)]="grupo.descricao" class="form-control descricao-input">
                <label>Descrição do Trajeto</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="date" disabled [(ngModel)]="grupo.dataTrajeto" class="form-control data-input">
                <label>Data do Trajeto</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" disabled [(ngModel)]="grupo.horarioInicio" class="form-control horario-inicio-input">
                <label>Horário de Inicio</label>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" disabled [(ngModel)]="grupo.horarioFim" class="form-control horario-fim-input">
                <label>Horário de Término</label>
            </fieldset>
        </div>
        <div class="text-center">
            <h4 class="cabecalho-turistas">Turistas</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Turista 1</td>
                    <td>turista1@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
                <tr>
                    <td>Turista 2</td>
                    <td>turista2@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
                <tr>
                    <td>Turista 3</td>
                    <td>turista3@gmail.com</td>
                    <td>(11) 11 11111-1111</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>